
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff; /* Cambia el color del spinner al que desees */
    border-radius: 50%;
    margin-top: 150px;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loadingtext{
    display: flex;
    font-size: 24px; /* Tamaño de la fuente más grande */
  font-weight: bold; /* Fuente más gruesa */
  color: #ebfc03; 
  margin-top: 10px;
  justify-content: center;
  
}
  
  
  